.flash {
  padding: $small-spacing $small-spacing;
  border: 1px solid #e8e8e8;
  background: #fff;
  color: #555459;
  border-left-width: 5px;
  margin-bottom: $small-spacing;
  border-radius: $base-border-radius;

  span {
    margin-left: 10px;
  }

  i.notice {
    color: $action-color;
  }

  &.notice {
    border-left-color: $action-color;
  }

  &.alert {
    border-left-color: $warn-color;
  }

  i.alert {
    color: $warn-color;
  }
}
