:root {
  --box-sm: 4px;
  --box-1: 8px;
  --box-2: 16px;
  --box-3: 24px;
  --box-4: 32px;
  --box-5: 64px;
  --box-6: 128px;
  --box-med: 192px;
  --box-7: 256px;
  --box-8: 384px;

  --white: white;
  --whitesmoke: #fdfeff;
  --gray-400: #CBD5E0;
  --gray-800: #2D3748;
  --lightgray: #E2E8F0;
  --silver: silver;
  --darkgray: $dark-gray;
  --gray: gray;
  --black: black;
  --green: #8bc34a;

  // --basefont: 16px;
  // --baseline: 1.6;

  --regular: 400;
  --semibold: 500;
  --bold: 700;
}
* {
  margin: 0;
  padding: 0;

  background: transparent;
  border: 0;

  font-size: 100%;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body {
  position: relative;
}
html {
  overflow-y: scroll;
}
.flow-hidden {
  overflow: hidden;
}
.flow-scroll {
  overflow: scroll;
}
.flowy-scroll {
  overflow-y: scroll;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}
input:focus,
textarea:focus {
  outline: none;
}
.divider {
  border-top: 1px solid var(--lightgray);
  margin-bottom: var(--box-3);
  margin-top: var(--box-3);
}
.radius-0 {
  border-radius: 0;
}
.radius-1 {
  border-radius: var(--box-1);
}
.radius-2 {
  border-radius: var(--box-2);
}
.radius-3 {
  border-radius: var(--box-3);
}
.radius-100 {
  border-radius: 100%;
}
.radius-max {
  border-radius: 9999px;
}
.white {
  color: var(--white);
}
.smoke {
  color: var(--whitesmoke);
}
.light {
  color: var(--whitesmoke);
}
.silver {
  color: var(--silver);
}
.dark {
  color: var(--darkgray);
}
.gray,
.grey {
  color: $medium-gray;
}
.black {
  color: var(--black);
}
.primary {
  color: $action-color;
}
.warn {
  color: $warn-color;
}
.light-gray {
  color: $light-gray;
}
.hover-pointer:hover {
  cursor: pointer;
}
.hover-primary:hover {
  color: $action-color;
}
.hover-dark:hover {
  color: $dark-gray;
}
.icon.hover-dark:hover {
  path {
    fill: $dark-gray;
  }
}
.hover-warn:hover {
  color: $warn-color;
}
.hover-light:hover {
  color: $light-gray;
}
.hover-white:hover {
  color: var(--white);
}
.hover-bg-light:hover {
  background-color: $light-gray;
}
.hover-bg-dark:hover {
  background-color: $dark-gray;
}
.hover-dark:hover {
  color: $dark-gray;
}
.hover-bs-3:hover {
  transition: all .15s ease;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.b-light {
  border: 1px solid var(--lightgray);
}
.b-dark {
  border: 1px solid var(--darkgray);
}
.b-primary-thick {
  border: 3px solid $action-color;
}

.bl-dark {
  border-left: 2px dashed var(--darkgray);
}
.bt {
  border-top: 1px solid var(--lightgray);
}
.bt-dark {
  border-top: 2px dashed var(--darkgray);
}
.bt-primary {
  border-top: 3px solid $action-color;
}
.bt-warn {
  border-top: 3px solid $warn-color;
}
.bt-attention {
  border-top: 3px solid #ffea8a;
}
.bb-light {
  border-bottom: 1px solid var(--lightgray);
}
.bb-primary {
  border-bottom: 1px solid $action-color;
}
.bg-white {
  background-color: var(--white);
}
.bg-green {
  background-color: var(--green);
}
.badge {
  display: inline-flex;
  align-items: center;
  padding: 0 .8rem;
  background-color: #dfe3e8;
  border: .2rem solid #fff;
  border-radius: 1rem;
  font-size: 13px;
  line-height: 1.4;
  color: #454f5b;
  text-transform: capitalize;
  white-space: nowrap;
}
.badge-success {
  color: #414f3e;
  background-color: #bbe5b3;
}
.badge-informational {
  color: #3e4e57;
  background-color: #b4e1fa;
}
.badge-attention {
  color: #595130;
  background-color: #ffea8a;
}
.badge-warning {
  color: #594430;
  background-color: #ffc58b;
}
.bg-warn {
  background-color: $warn-color;
}
.bg-warn-light {
  background-color: #f5e7e6;
}
.bg-attention-light {
  background-color: #fffbe8;
}
.bg-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.80'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-smoke {
  background-color: var(--whitesmoke);
}
.bg-light {
  background-color: var(--whitesmoke);
}
.bg-silver {
  background-color: var(--silver);
}
.bg-dark {
  background-color: #282d34;
}
.bg-gray,
.bg-grey {
  background-color: var(--gray);
}
.bg-black {
  background-color: var(--black);
}
.bg-primary {
  background-color: $action-color;
}
.bg-primary-light {
  background-color: #EFF6FF;
}
.bg-gradient {
  background: #49aebf;
  background: -webkit-linear-gradient(
    120deg,
    rgb(25, 84, 123),
    rgb(78, 205, 196)
  );
  background: linear-gradient(120deg, rgb(25, 84, 123), rgb(78, 205, 196));
}
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: block;

  content: " ";
}
.hint {
  display: inline-block;
  margin-top: 8px;
  font-size: 16px;
  color: $medium-gray;
}
.grid {
  display: grid;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.inline-flex {
  display: inline-flex;
}
.inline-table {
  display: inline-table;
}
.none {
  display: none;
}
.table {
  display: table;

  table-layout: fixed;
}
.table-cell {
  display: table-cell;
}
.table-column {
  display: table-column;
}
.table-row {
  display: table-row;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-reverse {
  flex-direction: row-reverse;
}
.flex-reverse.flex-column {
  flex-direction: column-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.flex-ycenter {
  align-items: center;
}
.flex-xcenter {
  justify-content: center;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}
.flex-baseline {
  align-items: baseline;
}
.flex-end {
  align-items: flex-end;
}
.flex-start {
  align-items: flex-start;
}
.flex-gap-1:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-1);
}
.flex-gap-2:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-2);
}
.flex-gap-3:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-3);
}
.flex-gap-4:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-4);
}
.flex-gap-5:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-5);
}
.flex-gap-6:not(.flex-column) > *:not(:last-of-type) {
  margin-right: var(--box-6);
}
.flex-gap-1.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-1);
}
.flex-gap-2.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-2);
}
.flex-gap-3.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-3);
}
.flex-gap-4.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-4);
}
.flex-gap-5.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-5);
}
.flex-gap-6.flex-column > *:not(:last-of-type) {
  margin-bottom: var(--box-6);
}
.fs-1 {
  font-size: var(--box-1) !important;
}
.fs-hint {
  font-size: 0.6em !important;
}
.fs-small {
  font-size: 0.8em !important;
}
.fs-2 {
  font-size: 0.9em !important;
}
.fs-3 {
  font-size: var(--box-3) !important;
}
.fs-4 {
  font-size: var(--box-4) !important;
}
.fs-5 {
  font-size: var(--box-5) !important;
}
.fs-6 {
  font-size: var(--box-6) !important;
}
.grow-1,
.grow-2,
.grow-3,
.grow-4,
.grow-5,
.grow-6 {
  flex-basis: 0;
}
.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.grow-4 {
  flex-grow: 4;
}
.grow-5 {
  flex-grow: 5;
}
.grow-6 {
  flex-grow: 6;
}
.self-center {
  align-self: center;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-baseline {
  align-self: baseline;
}
.grid-gap-1 {
  grid-gap: var(--box-1);
}
.grid-gap-2 {
  grid-gap: var(--box-2);
}
.grid-gap-3 {
  grid-gap: var(--box-3);
}
.grid-gap-4 {
  grid-gap: var(--box-4);
}
.grid-gap-5 {
  grid-gap: var(--box-5);
}
.grid-gap-6 {
  grid-gap: var(--box-6);
}
.grid-gap-x-1 {
  grid-row-gap: var(--box-1);
}
.grid-gap-x-2 {
  grid-row-gap: var(--box-2);
}
.grid-gap-x-3 {
  grid-row-gap: var(--box-3);
}
.grid-gap-x-4 {
  grid-row-gap: var(--box-4);
}
.grid-gap-x-5 {
  grid-row-gap: var(--box-5);
}
.grid-gap-x-6 {
  grid-row-gap: var(--box-6);
}
.grid-gap-y-1 {
  grid-column-gap: var(--box-1);
}
.grid-gap-y-2 {
  grid-column-gap: var(--box-2);
}
.grid-gap-y-3 {
  grid-column-gap: var(--box-3);
}
.grid-gap-y-4 {
  grid-column-gap: var(--box-4);
}
.grid-gap-y-5 {
  grid-column-gap: var(--box-5);
}
.grid-gap-y-6 {
  grid-column-gap: var(--box-6);
}
.grid-cols.dense,
.grid-cols-2.dense,
.grid-cols-3.dense,
.grid-cols-4.dense,
.grid-cols-5.dense,
.grid-cols-6.dense,
.grid-cols-7.dense,
.grid-cols-8.dense {
  grid-auto-flow: row dense;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-cols-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-rows,
.grid-rows-2,
.grid-rows-3,
.grid-rows-4,
.grid-rows-5,
.grid-rows-6,
.grid-rows-7,
.grid-rows-8 {
  grid-auto-flow: column;
}
.grid-rows.dense,
.grid-rows-2.dense,
.grid-rows-3.dense,
.grid-rows-4.dense,
.grid-rows-5.dense,
.grid-rows-6.dense,
.grid-rows-7.dense,
.grid-rows-8.dense {
  grid-auto-flow: column dense;
}
.grid-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.grid-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.grid-rows-5 {
  grid-template-rows: repeat(5, 1fr);
}
.grid-rows-6 {
  grid-template-rows: repeat(6, 1fr);
}
.grid-rows-7 {
  grid-template-rows: repeat(7, 1fr);
}
.grid-rows-8 {
  grid-template-rows: repeat(8, 1fr);
}
.h-0 {
  height: 0;
}
.h-1 {
  height: var(--box-1);
}
.h-2 {
  height: var(--box-2);
}
.h-3 {
  height: var(--box-3);
}
.h-4 {
  height: var(--box-4);
}
.h-5 {
  height: var(--box-5);
}
.h-6 {
  height: var(--box-6);
}
.h-med {
  height: var(--box-med);
}
.h-7 {
  height: var(--box-7);
}
.h-20 {
  height: 20%;
}
.h-25 {
  height: 25%;
}
.h-33 {
  height: 33.33333%;
}
.h-50 {
  height: 50%;
}
.h-66 {
  height: 66.66666%;
}
.h-75 {
  height: 75%;
}
.h-80 {
  height: 80%;
}
.h-100 {
  height: 100%;
}
.h-fit {
  height: fit-content;
}
.minvh-25 {
  min-height: 25vh;
}
.minvh-33 {
  min-height: 33.33333vh;
}
.minvh-50 {
  min-height: 50vh;
}
.minvh-66 {
  min-height: 66.66667vh;
}
.minvh-75 {
  min-height: 75vh;
}
.minvh-100 {
  min-height: 100vh;
}
.list-circle > li {
  list-style-type: circle;
}
.list-disc > li {
  list-style-type: disc;
}
.list-square > li {
  list-style-type: square;
}
.list-none > li {
  list-style-type: none;
}
.list-lower-latin > li {
  list-style-type: lower-latin;
}
.list-lower-roman > li {
  list-style-type: lower-roman;
}
.list-upper-latin > li {
  list-style-type: upper-latin;
}
.list-upper-roman > li {
  list-style-type: upper-roman;
}
.list-comma > * {
  display: inline-block;
}
.list-comma > *:not(:last-child):after {
  content: ", ";
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: var(--box-1);
}
.m-2 {
  margin: var(--box-2);
}
.m-3 {
  margin: var(--box-3);
}
.m-4 {
  margin: var(--box-4);
}
.m-5 {
  margin: var(--box-5);
}
.m-6 {
  margin: var(--box-6);
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: var(--box-1);
}
.mb-2 {
  margin-bottom: var(--box-2);
}
.mb-3 {
  margin-bottom: var(--box-3);
}
.mb-4 {
  margin-bottom: var(--box-4);
}
.mb-5 {
  margin-bottom: var(--box-5);
}
.mb-6 {
  margin-bottom: var(--box-6);
}
.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: var(--box-1);
}
.ml-2 {
  margin-left: var(--box-2);
}
.ml-3 {
  margin-left: var(--box-3);
}
.ml-4 {
  margin-left: var(--box-4);
}
.ml-5 {
  margin-left: var(--box-5);
}
.ml-6 {
  margin-left: var(--box-6);
}
.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: var(--box-1);
}
.mr-2 {
  margin-right: var(--box-2);
}
.mr-3 {
  margin-right: var(--box-3);
}
.mr-4 {
  margin-right: var(--box-4);
}
.mr-5 {
  margin-right: var(--box-5);
}
.mr-6 {
  margin-right: var(--box-6);
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: var(--box-1);
}
.mt-2 {
  margin-top: var(--box-2);
}
.mt-3 {
  margin-top: var(--box-3);
}
.mt-4 {
  margin-top: var(--box-4);
}
.mt-5 {
  margin-top: var(--box-5);
}
.mt-6 {
  margin-top: var(--box-6);
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: var(--box-1);
  margin-right: var(--box-1);
}
.mx-2 {
  margin-left: var(--box-2);
  margin-right: var(--box-2);
}
.mx-3 {
  margin-left: var(--box-3);
  margin-right: var(--box-3);
}
.mx-4 {
  margin-left: var(--box-4);
  margin-right: var(--box-4);
}
.mx-5 {
  margin-left: var(--box-5);
  margin-right: var(--box-5);
}
.mx-6 {
  margin-left: var(--box-6);
  margin-right: var(--box-6);
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.my-1 {
  margin-bottom: var(--box-1);
  margin-top: var(--box-1);
}
.my-2 {
  margin-bottom: var(--box-2);
  margin-top: var(--box-2);
}
.my-3 {
  margin-bottom: var(--box-3);
  margin-top: var(--box-3);
}
.my-4 {
  margin-bottom: var(--box-4);
  margin-top: var(--box-4);
}
.my-5 {
  margin-bottom: var(--box-5);
  margin-top: var(--box-5);
}
.my-6 {
  margin-bottom: var(--box-6);
  margin-top: var(--box-6);
}
.opacity-100 {
  opacity: 1;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-80 {
  opacity: 0.8;
}
.opacity-70 {
  opacity: 0.7;
}
.opacity-60 {
  opacity: 0.6;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-40 {
  opacity: 0.4;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-10 {
  opacity: 0.1;
}
.opacity-0 {
  opacity: 0;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: var(--box-1);
}
.p-2 {
  padding: var(--box-2);
}
.p-3 {
  padding: var(--box-3);
}
.p-4 {
  padding: var(--box-4);
}
.p-5 {
  padding: var(--box-5);
}
.p-6 {
  padding: var(--box-6);
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: var(--box-1);
}
.pb-2 {
  padding-bottom: var(--box-2);
}
.pb-3 {
  padding-bottom: var(--box-3);
}
.pb-4 {
  padding-bottom: var(--box-4);
}
.pb-5 {
  padding-bottom: var(--box-5);
}
.pb-6 {
  padding-bottom: var(--box-6);
}
.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: var(--box-1);
}
.pl-2 {
  padding-left: var(--box-2);
}
.pl-3 {
  padding-left: var(--box-3);
}
.pl-4 {
  padding-left: var(--box-4);
}
.pl-5 {
  padding-left: var(--box-5);
}
.pl-6 {
  padding-left: var(--box-6);
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: var(--box-1);
}
.pr-2 {
  padding-right: var(--box-2);
}
.pr-3 {
  padding-right: var(--box-3);
}
.pr-4 {
  padding-right: var(--box-4);
}
.pr-5 {
  padding-right: var(--box-5);
}
.pr-6 {
  padding-right: var(--box-6);
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: var(--box-1);
}
.pt-2 {
  padding-top: var(--box-2);
}
.pt-3 {
  padding-top: var(--box-3);
}
.pt-4 {
  padding-top: var(--box-4);
}
.pt-5 {
  padding-top: var(--box-5);
}
.pt-6 {
  padding-top: var(--box-6);
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: var(--box-1);
  padding-right: var(--box-1);
}
.px-2 {
  padding-left: var(--box-2);
  padding-right: var(--box-2);
}
.px-3 {
  padding-left: var(--box-3);
  padding-right: var(--box-3);
}
.px-4 {
  padding-left: var(--box-4);
  padding-right: var(--box-4);
}
.px-5 {
  padding-left: var(--box-5);
  padding-right: var(--box-5);
}
.px-6 {
  padding-left: var(--box-6);
  padding-right: var(--box-6);
}
.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}
.py-1 {
  padding-bottom: var(--box-1);
  padding-top: var(--box-1);
}
.py-2 {
  padding-bottom: var(--box-2);
  padding-top: var(--box-2);
}
.py-3 {
  padding-bottom: var(--box-3);
  padding-top: var(--box-3);
}
.py-4 {
  padding-bottom: var(--box-4);
  padding-top: var(--box-4);
}
.py-5 {
  padding-bottom: var(--box-5);
  padding-top: var(--box-5);
}
.py-6 {
  padding-bottom: var(--box-6);
  padding-top: var(--box-6);
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.top-0 {
  top: 0;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 10;
}
.z-2 {
  z-index: 20;
}
.z-3 {
  z-index: 30;
}
.z-4 {
  z-index: 40;
}
.z-5 {
  z-index: 50;
}
.z-6 {
  z-index: 60;
}
.z-7 {
  z-index: 70;
}
.z-8 {
  z-index: 80;
}
.z-9 {
  z-index: 90;
}
.z-10 {
  z-index: 100;
}

.lh-sm {
  line-height: 1.15;
}

.lh-1 {
  line-height: 1.25;
}
When ready can unhide this to start matching marketing site
// h1 { font-size: 3em; }
// h2 { font-size: 2.5em; }
// h3 { font-size: 2em; }
// h4 { font-size: 1.75em; }
// h5 { font-size: 1.5em; }
// p,
// h6 { font-size: 1em; }
// small { font-size: .75em; }
.ellipsis {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.italic {
  font-style: italic;
}
.normal {
  font-style: normal;
}
.oblique {
  font-style: oblique;
}
.regular {
  font-weight: var(--regular);
}
.semibold {
  font-weight: var(--semibold);
}
.bold {
  font-weight: var(--bold);
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.line-through {
  text-decoration: line-through;
}
.overline {
  text-decoration: overline;
}
.underline {
  text-decoration: underline;
}
.inherit {
  text-transform: inherit;
}
.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.pre {
  white-space: pre;
}
.pre-line {
  white-space: pre-line;
}
.pre-wrap {
  white-space: pre-wrap;
}
.nowrap {
  white-space: nowrap;
}
.w-auto {
  width: auto;
}
.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.w-fit {
  width: fit-content !important;
}
.w-0 {
  width: 0;
}
.w-1 {
  width: var(--box-1);
}
.w-2 {
  width: var(--box-2);
}
.w-3 {
  width: var(--box-3);
}
.w-4 {
  width: var(--box-4);
}
.w-5 {
  width: var(--box-5);
}
.w-6 {
  width: var(--box-6);
}
.w-7 {
  width: var(--box-7);
}
.w-8 {
  width: var(--box-8);
}
.wp-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.33333%;
}
.w-50 {
  width: 50%;
}
.w-66 {
  width: 66.66666%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}
.w-i {
  width: inherit;
}
.minw-2 {
  min-width: 250px;
}
.minvw-25 {
  min-width: 25vw;
}
.minvw-33 {
  min-width: 33.33333vw;
}
.minvw-50 {
  min-width: 50vw;
}
.minvw-66 {
  min-width: 66.66667vw;
}
.minvw-75 {
  min-width: 75vw;
}
.minvw-100 {
  min-width: 100vw;
}
.bs-1 {
  box-shadow: 0 2px 4px rgba(79, 112, 140, 0.1);
}
.bs-2 {
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.1);
}
.bs-3 {
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.08),
    0 7px 14px 1px rgba(50, 50, 93, 0.1);
}

hr {
  margin: 0px
}
